* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", serif;
}
/* banner section style */
.banner {
  color: white;
  background-image: linear-gradient(
      0deg,
      rgb(9, 9, 9) 3.482%,
      rgba(16, 16, 16, 0) 101.632%
    ),
    url("../assets/hero-bg.png");
  margin-top: 0;
  width: 100%;
  height: 700px;
  background-size: cover;
}
.banner-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px;
  margin: 0px 200px 310px;
}
.banner-subtitle {
  margin-top: 200px;
  font-size: 20px;
  font-weight: 600;
}
.banner-title {
  font-size: 45px;
  font-weight: 700;
}
.banner-description {
  font-size: 13px;
  font-weight: 400px;
}
.btn-primary {
  color: white;
  font-size: 15px;
  font-weight: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: rgb(82, 195, 3);
  padding: 10px 20px 10px 20px;
  border: none;
}
/* food brand section style */
.food-brand {
  margin: 150px auto;
  width: 950px;
  height: 650px;
  color: rgb(16, 16, 16);
}
.brand-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.brand-subtitle {
  font-size: 20px;
  font-weight: 500;
}
.brand-title {
  font-size: 35px;
  font-weight: 700;
}
.card {
  width: 300px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32;
}
.brands {
  width: 100%;
  margin: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-image {
  width: 100%;
  height: 200px;
  margin: auto;
}
.card-content {
  margin-top: 30px;
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.item-name {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px 25px;
  border-radius: 5px;
  background: rgba(82, 195, 3, 0.15);
}
.item-offer {
  font-size: 28px;
  font-weight: 600;
}
.item-description {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
/* about section style */
.about-us {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-content {
  width: 45%;
  color: rgb(16, 16, 16);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}
.img-div {
  width: 50%;
  height: 100%;
}
.food-img {
  width: 100%;
  height: 100%;
}
.about-title {
  font-size: 35px;
  font-weight: 700;
}
.social-title {
  font-size: 24px;
  font-weight: 600;
}
.social-img {
  height: 20px;
}
/* single card style */
.single-item {
  margin: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.single-card-button {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.single-card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid gray;
  border-style: dashed;
}
